.card_before img{
    scale: .8;
}
.card_before .cap>img{
    transform: translateY(185px);
    transition: .6s ease-in-out;
}
.card_before h2,h4{
    /* scale: 0.5; */
    transform: scale(0.5) translateY(100px);
    transition: 0.6s ease-in-out;
}
.card_before{
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
}
.card_before h2{
    opacity: 0;
    transition: .5s ease-in-out;
    scale: 1;
}
.card_before h4{
    width: 250px;
    text-align: center;
    font-size: small;
    font-weight: 400;
    opacity: 0;
    scale: 1;
    transition: .4s ease-in-out;
}
.card_before:hover .cap>img{
    transform: translateY(50px);
    
    transition: .6s ease-in-out;
}
.card_before:hover h2{
    transform: translateY(30px);
    opacity: 1;
    transition: 0.8s ease-in-out;
}
.card_before:hover h4{
    transform: translateY(30px);
    opacity: 1;
    transition: 1s ease-in-out;
}