.loader{
    animation: rotate 3s linear 1;
}
.tagline{
    font-size: 14px;
    font-weight: 400px;
    position: absolute;
    text-transform: capitalize;
    top: 58%;
    animation: reveal 2s;
    animation-iteration-count: no-repeat ;
    opacity: 0;
    animation-fill-mode: backwards;
    color: #886725;
}
@keyframes reveal {
    0%{
        opacity: 0;
    }
    20%{
        opacity: .8;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    /* 100%{
        opacity: 0;
    } */
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    20%{
        transform: rotate(90deg);
        opacity: 1;
    }
    40%{
        transform: rotate(180deg);
        opacity: 1;
    }
    60%{
        transform: rotate(270deg);
        opacity: 1;
    }
    80%{
        transform: rotate(360deg);
    }
    90%{
        opacity: .7;
    }
    100%{
        transform: scale(70);
        opacity: 0;
    }
}
@media (max-width: 640px) {
    .text>h4{
        position: absolute;
        top: 60%;
        left: 20%;
    }
}