.fadein{
    animation: fadein 1s linear;
}

@keyframes fadein {
    from { scale: 0.8; opacity: 0; }
    to   { scale: 1; opacity: 1; }
}

@font-face {
    font-family: 'against';
    src: url('./Fonts/against\ regular.ttf') format('truetype'),
    url('./Fonts/against\ regular.otf') format('opentype');
}
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}